<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <title>antd-schema-form test</title>
  <style>
    .app {
      padding: 0 0 60px;
    }
  </style>
</head>
<body>
<div class="app" id="mocha"></div>
</body>
</html>