# node
node_modules
npm-debug.log
package-lock.json

# yarn
yarn.lock
yarn-error.log

# webstorm
.idea

.editorconfig
.gitignore
.gitattributes
.eslintignore
.eslintrc.yml

.babelCache
.dll
config
example
test
gulpfile.js
src
tslint.json
tsconfig.json
tsconfig.es5.json