# node
node_modules
npm-debug.log
package-lock.json

# yarn
yarn.lock
yarn-error.log

# webstorm
.idea

# project
.husky
config
bin
example
tests
src
gulpfile.js
tslint.json
tsconfig.json
tsconfig.es5.json
docs

# ignore
.gitignore
.gitattributes
.eslintignore
.npmignore

# config
.editorconfig
.gitattributes
.eslintrc.yml
.lintstagedrc.yml
.babelrc
.eslintrc.js
.eslintrc.cjs
.npmrc

# cache
.babelCache

.DS_Store