# node
node_modules
npm-debug.log
package-lock.json
pnpm-lock.yaml

# yarn
yarn.lock
yarn-error.log
.yarnrc
.yarn/*
.pnp.js
.pnp.cjs

# webstorm
.idea
.DS_Store

# project
.husky
config
bin
example
tests
test
src
gulpfile.js
gulpfile.mjs
tslint.json
tsconfig.base.json
tsconfig.json
tsconfig.es5.json
docs

# ignore
.gitignore
.gitattributes
.eslintignore
.npmignore

# config
.editorconfig
.gitattributes
.eslintrc.yml
.lintstagedrc.yml
.babelrc
.eslintrc.js
.eslintrc.cjs
.npmrc
.yarnrc.yml
eslint.config.mjs

# cache
.babelCache
.cache
.eslintcache