<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <link rel="stylesheet" href="<%= require('./mocha/mocha.css') %>">
  <title>antd-schema-form test</title>
</head>
<body>
<div class="app" id="mocha"></div>
<script src="<%= require('./mocha/mocha') %>"></script>
<script src="<%= require('chai/chai') %>"></script>
</body>
</html>