@import './variable'

@mixin antdSchemaForm()
  /* object */
  .#{ $basic-name }object-description
    margin-left: 10px
    font-size: 12px
    color: #929292
  .#{ $basic-name }object-collapse
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
  .#{ $basic-name }object-click-button-box
    margin-top: 10px
  .#{ $basic-name }object-cancel
    margin-left: 10px

  /* string */
  .#{ $basic-name }string-select
    width: 100%
  .#{ $basic-name }string-file
    display: none

  /* number */
  .#{ $basic-name }number-input
    width: 100%
    max-width: 300px

  /* array */
  .#{ $basic-name }array-multiple
    width: 100%

  /* oneOf */
  .#{ $basic-name }oneOf-box
    position: relative
    padding-right: 72px
  .#{ $basic-name }oneOf-index, .#{ $basic-name }oneOf-group
    position: absolute
    right: 0
  .#{ $basic-name }oneOf-index
    top: 20px
    min-width: 63px
    text-align: center
  .#{ $basic-name }oneOf-group
    top: 43px