@import './variable'

@mixin antdSchemaForm()
  /* object */
  .#{ $basic-name }object
    &-description
      margin-left: 10px
      font-size: 12px
      color: #929292
    &-collapse
      margin-bottom: 10px
      &:last-child
        margin-bottom: 0
    &-click-button-box
      margin-top: 10px
    &-cancel
      margin-left: 10px

  /* string */
  .#{ $basic-name }string
    &-select
      width: 100%
    &-password-suffix
      cursor: pointer

  /* number */
  .#{ $basic-name }number
    &-input
      width: 100%
      max-width: 300px

  /* array */
  .#{ $basic-name }array
    &-table-box
      margin-bottom: 10px
    &-table-component
      border-width: 1px
      border-style: solid
      border-color: transparent
      border-radius: 4px
      -webkit-transition: border-color .3s
      transition: border-color .3s
    &-table-component-has-error
      border-color: $error-color
    &-table-rules-verification-str
      margin-left: 10px
      color: $error-color
    &-multiple
      width: 100%
    &-deleteAll
      margin-left: 10px
    &-tr-drag
      cursor: move
  tr.#{ $basic-name }array
    &-drop-over
      &-downward td
        border-bottom: 2px dashed $array-table-drop-over-border-color
      &-upward td
        border-top: 2px dashed $array-table-drop-over-border-color