- var imports = require('./imports');

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='renderer' content='webkit')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='shortcut icon' href=require('./favicon.ico'))
    title antd-schema-form
  body
    div.app#app
    if htmlWebpackPlugin.options.mode === 'development'
      script(src=imports.dll)
